<template>

  <section class="ui stackable grid basic segment">
    <aside class="ui middle aligned center aligned six wide column">
      <i class="massive address book icon"></i>
    </aside>
    <section class="ui ten wide column">
      <div class="ui fluid form segment">
        <form submit.delegate="register($event)">
          <h3 class="ui header">Register</h3>
          <div class="two fields">
            <div class="field">
              <label>First Name</label>
              <div class="ui input left icon">
                <i class="user icon"></i>
                <input placeholder="First Name" type="text" value.bind="firstName">
              </div>
            </div>
            <div class="field">
              <label>Last Name</label>
              <div class="ui input left icon">
                <i class="user icon"></i>
                <input placeholder="Last Name" type="text" value.bind="lastName">
              </div>
            </div>
          </div>
          <div class="field">
            <label>Email</label>
            <div class="ui input left icon">
              <i class="mail icon"></i>
              <input placeholder="Email" type="text" value.bind="email">
            </div>
          </div>
          <div class="field">
            <label>Password</label>
            <div class="ui input left icon">
              <i class="lock icon"></i>
              <input type="password" value.bind="password">
            </div>
          </div>
          <div class="ui center aligned basic segment">
            <button class="ui blue submit button"><i class="add user icon"></i>Submit</button>
          </div>
          <h3>${prompt}</h3>
        </form>
      </div>
    </section>
  </section>
</template>
