<template>
  <section class="ui stackable grid basic segment">
    <div class="center aligned four wide column">
      <compose view-model="../profile/profile"></compose>
      <div class="ui divider"></div>
      <compose view-model="../listFollower/listFollower"></compose>
      <div class="ui divider"></div>
      <compose view-model="../listFollowing/listFollowing"></compose>
    </div>
    <div class="twelve wide column">
      <compose view-model="../listTweet/listTweet"></compose>
    </div>
  </section>
</template>
