<template>
  <section class="ui modal" id="addTweet"> <i class="close icon"></i>
    <header class="header">Add Tweet</header>
    <div class="content">
      <form class="ui form" submit.delegate="addTweet($event)" enctype="multipart/form-data">
        <div class="field">
          <textarea value.bind="tweetText" id="tweetText" placeholder="Description" name="tweetText" rows="2" maxlength="140"></textarea>
        </div>
        <div class="field">
          <label>Image</label>
          <input files.bind="picture" value.bind="pictureValue" type="file" />
        </div>
        <div class="ui center aligned basic segment">
          <button class="ui blue submit button"><i class="plus icon"></i> Add Tweet </button>
        </div>
      </form>
    </div>
  </section>
</template>
