<template>
  <require from="../date-format"></require>
    <div class="ui centered three doubling stackable cards basic segment">
      <div repeat.for="tweet of tweets" class="ui raised link card">
        <div class="content">
          <div class="meta">
            <i class="calendar icon"></i> <span class="category">${tweet.tweetDate | dateFormat}</span>
          </div>
          <div class="ui center aligned middle aligned description">
            <img if.bind="tweet.tweetImage" src="${tweet.tweetImage}" class="ui medium image">
            <p>${tweet.tweetText}</p>
          </div>
        </div>
        <div class="extra content">
          <div class="left floated author">
            <a click.delegate="viewUser(tweet.tweetUser._id)">
              <img class="ui avatar image" if.bind="tweet.tweetUser.image" src="${tweet.tweetUser.image}">
              <img class="ui avatar image" else src="http://www.stickpng.com/assets/images/585e4beacb11b227491c3399.png">
              ${tweet.tweetUser.firstName} ${tweet.tweetUser.lastName}
            </a>
          </div>

          <div if.bind="isCurrentUser(tweet.tweetUser._id) || isAdmin" class="right floated">
            <a click.delegate="deleteTweet(tweet._id)">
              <i class="red delete icon"></i>
            </a>
          </div>
        </div>
      </div>
    </div>

  <section show.bind="empty" class="ui center aligned segment">
    You have no tweets yet. Start tweeting now to begin !!
  </section>
</template>
