<template>
  <section class="ui modal" id="addTweet"> <i class="close icon"></i>
    <header class="header">Add Tweet</header>
    <div class="content">
      <form class="ui form" action="/addTweet/{{user._id}}" method="POST" enctype="multipart/form-data">
        <div class="field">
          <p align="right" id="charNum" class="center aligned content">140 Character's Remaining</p>
          <textarea id="tweetText" onkeyup="countChar(this)" placeholder="Description" name="tweetText" rows="2" maxlength="140"></textarea>
        </div>
        <div class="field">
          <label>Image</label>
          <input type="file" name="picture" />
        </div>
        <div class="ui center aligned basic segment">
          <button class="ui blue submit button"><i class="plus icon"></i> Add Tweet </button>
        </div>
        {{> formerror }}
      </form>
    </div>
  </section>

  <script>
    // https://stackoverflow.com/questions/5371089/count-characters-in-textarea
    function countChar(val) {
      let len = val.value.length;
      $('#charNum').text(140 - len + ' Character\'s Remaining');
    }
  </script>
</template>
