<template>

  <section class="ui stackable grid basic segment">
    <aside class="ui middle aligned center aligned six wide column">
      <i class="ui  massive sign in icon"></i>
    </aside>
    <div class="ui ten wide column fluid form">
      <div class="ui segment">
        <form submit.delegate="login($event)">
          <h3 class="ui header">Log-in</h3>
          <div class="field">
            <label>Email</label> <input placeholder="Email" value.bind="email"/>
          </div>
          <div class="field">
            <label>Password</label> <input type="password" value.bind="password"/>
          </div>
          <div class="ui center aligned basic segment">
            <button class="ui blue submit button"><i class="sign in icon"></i>Login</button>
          </div>
          <h3>${prompt}</h3>
        </form>
      </div>
    </div>
  </section>
</template>
