<template>
  <div class="ui segment">
    <img if.bind="user.image" class="ui middle aligned circular medium image" src="${user.image}">
    <img class="ui middle aligned circular medium image"else src="http://www.stickpng.com/assets/images/585e4beacb11b227491c3399.png">
    <p>${user.firstName} ${user.lastName}</p>
    <p>${user.email}</p>
    <form submit.delegate="updateProfilePicture(user._id)" method="post" enctype="multipart/form-data" style="display:inline">
      <label for="file" class="circular ui icon blue button">
        <i class="file image outline icon"></i></label>
      <input type="file" id="file" files.bind="picture" style="display:none">
      <button class="circular ui icon green button">
        <i class="cloud upload icon"></i>
      </button>
    </form>
    <button class="circular ui icon red button" click.delegate="deleteProfilePicture(user._id)">
      <i class="delete icon"></i></button>
  </div>
</template>
