<template>
  <section class="ui stackable grid basic segment">
    <aside class="ui middle aligned center aligned six wide column">
      <i class="massive settings icon"></i>
    </aside>
    <section class="ui ten wide column">
      <div class="ui fluid form segment">
        <form submit.delegate="updateAccount($event)">
          <h3 class="ui header">Update Account</h3>
          <div class="two fields">
            <div class="field">
              <label>First Name</label>
              <div class="ui input left icon">
                <i class="user icon"></i>
                <input value.bind="user.firstName" placeholder="First Name" type="text" name="firstName">
              </div>
            </div>
            <div class="field">
              <label>Last Name</label>
              <div class="ui input left icon">
                <i class="user icon"></i>
                <input value.bind="user.lastName" placeholder="Last Name" type="text" name="lastName">
              </div>
            </div>
          </div>
          <div class="field">
            <label>Email</label>
            <div class="ui input left icon">
              <i class="mail icon"></i>
              <input value.bind="user.email" placeholder="Email" type="text" name="email">
            </div>
          </div>
          <div class="field">
            <label>Password</label>
            <div class="ui input left icon">
              <i class="lock icon"></i>
              <input value.bind="user.password" type="password" name="password">
            </div>
          </div>
          <div class="ui center aligned basic segment">
            <button class="ui blue submit button"><i class="save icon"></i>Save</button>
          </div>
        </form>
      </div>
    </section>
  </section>
</template>
