<template>
  <section class="ui basic segment">
    <compose view-model="../googleMaps/googleMaps"></compose>
  </section>
  <section class="ui stackable grid basic segment">
    <div class="center aligned four wide column">
      <compose view-model="../profile/profile"></compose>
      <div class="ui divider"></div>
      <compose view-model="../listFollower/listFollower"></compose>
      <div class="ui divider"></div>
      <compose view-model="../listFollowing/listFollowing"></compose>
    </div>
    <div class="twelve wide column">
      <div class="ui center aligned basic segment">
        <button class="circular ui icon blue button item" data-modal="addTweet" data-tooltip="Add Tweet">
          <i class="plus icon"></i>
        </button>
        <compose view-model="../deleteAllUserTweet/deleteAllUserTweet" model.bind="user"></compose>
      </div>
      <compose view-model="../addTweet/addTweet"></compose>
      <compose view-model="../listTweet/listTweet"></compose>
    </div>
  </section>

</template>
